* {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

h2 {
    padding-top: 30px;
    padding-bottom: 15px;
}

table, th, td {
    border-bottom: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
}

.detailTable {
    border-bottom: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: thin 0 0 thin;
    margin: 0 0 1em;
    table-layout: fixed;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

td {
    text-align: center;
    padding: 10px;
}

.tableHead {
    border-top: 1px solid #a0a0a000;
    border-bottom: 3px solid #a0a0a0;
}

.conName {
    text-align: left;
    border-bottom: 1px solid #a0a0a0;
}

.chart {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    display: block;
}

.detailTableHead {
    text-align: center;
    border-bottom: 1px solid #a0a0a0;
    border-top: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    background-color: #f1f3f4e3;
}